[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
prospector = "*"
black = "*"
ipython = "*"
yapf = "*"

[packages]
django = "*"
psycopg2 = "*"
django-extensions = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
django-allauth = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
